---
import Section from "@components/layout/Section.astro"
import Sidebar from "@components/layout/Sidebar.astro"
import Stack from "@components/layout/Stack.astro"
import SectionHeader from "@components/ui/SectionHeader.astro"
import Cluster from "@components/layout/Cluster.astro"
import Grid from "@components/layout/Grid.astro"
import Stat from "@components/ui/Stat.astro"

import Heading from "@components/typography/Heading.astro"
import Text from "@components/typography/Text.astro"
import Button from "@components/ui/Button.astro"
---

<Section size="large" >

    <Sidebar>

        <Stack gap="lg">
            
            <SectionHeader
                eyebrow="Self-défense à Bayonne"
                title="Apprendre à se défendre ensemble."
                description="Une discipline accessible à toutes et à tous quel que soit votre niveau."
            />

            <Cluster>
                <Button href="/contact">
                    Réserver un cours d'essai
                </Button>
    
                <Button href="/cours" variant="secondary">
                    Découvrir l'asso
                </Button>
            </Cluster>

            <Grid cols={3}>
                <Stat
                    value="13"
                    label="années d'expérience"
                />
                <Stat
                    value="3"
                    label="cours par semaine"
                />
                <Stat
                    value="18--->60+"
                    label="âge des pratiquants"
                />
            </Grid>

        </Stack>

    </Sidebar>

    <div class="hero">

        <div class="hero__media">
            <div class="hero__image-placeholder">
                <img src="../../assets/images/ckm-hero-836x405.png" alt="Dojo" />
                Image / Dojo / Action
            </div>
        </div>

    </div>

</Section>

<link rel="stylesheet" href="./hero.css" />