---
import BaseLayout from '../layouts/BaseLayout.astro';
import Container from "../components/layout/Container.astro";
---

<BaseLayout title="CKM Bayonne">
    <Container>
        <h1>CKM Bayonne</h1>
    </Container>
</BaseLayout>