---
interface Props {
  value: string;
  label: string;
}

const {
  value,
  label,
} = Astro.props;
---

<div class="c-stat">

  <span class="c-stat__value">
    {value}
  </span>

  <span class="c-stat__label">
    {label}
  </span>

</div>